{% extends 'source/base.html' %}
{% load static %}
{% block title %}文件列表{% endblock %}
{% block content %}
    <div class="container">
        {% if mysource_flag %}
            <h1 class="text-center"><br>我的上传<br></h1>
            {% else %}
            <h1 class="text-center"><br>资源管理<br></h1>
            {% endif%}

            <div class="pull-left">
                <a class="btn btn-link" href="/index/" role="button">返回主页<br><br></a>
            </div>
            <div class="pull-right">
                {% if mysource_flag %}
                <a class="btn btn-link" href="/source/list/" role="button">返回资源列表<br><br></a>
                {% else %}
                <a class="btn btn-link" href="/source/mysource_list/" role="button">查看我的上传<br><br></a>
                {% endif%}
                
                <a class="btn btn-link" href="/source/upload/" role="button">上传资源<br><br></a>
            </div>

            <table class ="table table-hover">
                <thead>
                    <tr>
                        <th class = text-center>课程名</th>
                        <th class = text-center>资源名</th>
                        <th class = text-center>备注</th>
                        <th class = text-center>上传者</th>
                        <th class = text-center>下载次数</th>
                        <th class = text-center>点击下载</th>
                        {% if mysource_flag %}
                        <th class = text-center>删除</th>
                        {% endif%}
                    </tr>
                </thead>
                <tbody>
                    {% for f in file_list %}
                    <tr>
                        <td class = text-center>{{f.course}}</td>
                        <td class = text-center>{{f.filename}}</td>
                        <td class = text-center>{{f.remarks}}</td>
                        <td class = text-center>{{f.uploader_id}}</td>
                        <td class = text-center> {{f.download_times}}</td>
                        <td class = text-center>
                                <a href="{% url 'download' f.id  %}" >点我</a>
                        </td>
                        {% if mysource_flag %}
                        <td class = text-center>
                                <a  href="{% url 'deletesource' f.id  %}" >点我</a>
                        </td>
                        {% endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div> 
{% endblock %}