{% extends 'message/base.html' %}
{% load static %}
{% block title %}私信列表{% endblock %}
{% block css %}<link href="{% static 'css/list.css' %}" rel="stylesheet"/>{% endblock %}
{% block content %}
    <div class="container">
            <h1 class="text-center">已发送<br></h1>
            <div class="text-right">
                <a class="btn btn-link" href="/message/recieve_message/" role="button">看看我收到的私信<br><br></a>
            </div>
            <table class ="table table-hover">
                <thead>
                    <tr>

                        <th>发送时间</th>
                        <th>接收者</th>
                        <th>主题</th>
                        <th>内容</th>
                        <th>删除</th>

                    </tr>
                </thead>
                <tbody>
                    {% for m in msgs_list %}
                    <tr>
                        <td>{{m.send_time}}</td>
                        <td>{{m.reciever}}</td>
                        <td>{{m.theme}}</td>
                        <td>{{m.text}}</td>
                    
                        <td>
                            <ul>
                                <a class="btn btn-danger" href="{% url 'delete_message_send' m.id  %}" role="button">删除</a>
                            </ul>
                        </td>
 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div> 
{% endblock %}