{% extends 'course/base.html' %}
{% block title %}修改课程信息{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-register' action="{% url 'course_modify' course_id  %}" method="post">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}

              <h2 class="text-center">修改课程信息<br><br></h2>

              <a class="btn btn-link" href="{% url 'course_deteils' course_id  %}" role="button">返回<br><br></a>
              <a class="btn btn-link" href="/course/mycourse/" role="button">返回课程列表<br><br></a>
              <div class="form-group">
                {{ courseform.name.label_tag }}
                {{ courseform.name }}
            </div>
              <div class="form-group">
                  {{ courseform.teacher.label_tag }}
                  {{ courseform.teacher }}
              </div>
              <div class="form-group">
                  {{ courseform.student.label_tag }}
                  {{ courseform.student }}
              </div>
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}