{% extends 'user/base.html' %}
{% load static %}
{% block title %}学生名录{% endblock %}

{% block content %}
    <div class="container">
            <h1 class="text-center">学生名录<br></h1>
            {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
            <div class="text-right">
                <a class="btn btn-link" href="/index/" role="button">返回首页<br><br></a>
                <a class="btn btn-link" href="/user_info_teacher/" role="button">教师名录<br><br></a>
            </div>
            <table class ="table table-hover">
                <thead>
                    <tr>
                        <th class=text-center>学号</th>
                        <th class=text-center>学生姓名</th>
                        <th class=text-center>班级</th>

                    </tr>
                </thead>
                <tbody>
                    {% for c in teacher_user %}
                    <tr>
                        <td class=text-center>{{c.ID}}</td>
                        <td class=text-center>{{c.name}}</td>
                        <td class=text-center>{{c.ofclass}}</td>
                            

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div> 
{% endblock %}

